<html>
  <head>
    <title>Growler - better than Twitter - also better than ChangeTip</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">  </head>
  <body>
    <h1>Growler</h1>
    <form action='/' method='POST'>
      Name:
      <input name="name" type="text" /> 
      Growl:
      <input name="growl" type="text" maxlength="76" />
      Your wallet ID:
      <input name="wallet" type="text" />
      <input type="submit" />
    </form>
    <div id="feed">
      <h2> Growls </h2>
        {% for growl in growls %}
        <div class="growl">
            <b>{{ growl[0] }}</b>
            <p>{{ growl[2] }}</p>
            <form action='/tip/{{ growl[3] }}'  method='GET'>
              <input type="submit" value="Tip Me"/>
            </form>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
